#main-content{
  position: relative;
}


#modal_01{
  padding: 40px;
  width: 90%;
  margin-top: 2.5%;
}

#edit-form{
  width: 90%;
  margin-left: 1.5%;
}

#edit-form label{
 display: block;
 float: left;
}

#edit-form input{
  float: right;
}

.edit{
  margin-right: 2.5%;
}

#modal-content{
  float: left;
}


th, td{
  padding: 15px;
}

/**Begin port from embedded stylesheet**/
body {
background-color: lightgrey;
}
.card {
  padding:20px;
}
.brand-logo {
  padding: 20px;
}
#ofba {
  padding-left: 20px;
}
label {
cursor: default;
color:black;
}
a {
  color:black;
}
#empNameNav {
  text-align: center;
  color: white;
  background-color: #002071 ;
}
/**End port from embedded stylesheet**/

div{
  background-color: #ffffff;
}

/**Margins & padding**/
.topmar{
  margin-top: 2.5%;
}
