#main-content{
  position: relative;
}


#modal_01{
  padding: 40px;
  width: 90%;
  margin-top: 2.5%;
}

#edit-form{
  width: 90%;
  margin-left: 1.5%;
}

#edit-form label{
 display: block;
 float: left;
}

#edit-form input{
  float: right;
}

.edit{
  margin-right: 2.5%;
}

#modal-content{
  float: left;
}


th, td{
  padding: 15px;
}
